<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug-only: reproduces the Android Auto (legacy MediaBrowser) browse handshake
             against PlaybackService so it can be exercised over adb without a car/DHU. -->
        <activity
            android:name=".debug.AutoBrowseProbeActivity"
            android:exported="true" />
    </application>

</manifest>
